<li class="question">
	<div class="question-top">
		<%= link_to ("+" + q.votes.count.to_s), question_do_vote_path(q), :class => "question-votes vote" %><h3><%= link_to q.title, q %></h3>
	</div>
	<p><%= q.content %></p>
	<div class="question-bottom">
		<ul class="question-tags">
			<% q.tags.each do |qt| %>
				<% if qt.title != nil %>
					<li><%= link_to "#" + qt.title, qt %></li>
				<% end %>
			<% end %>
		</ul>
		<span>- asked by <a href="#"><%= q.user.full_name %> - <%= time_ago_in_words(q.created_at) %> ago</a></span>
	</div>
</li>