<% content_for :head do %>
  <title>inquestion - Questions - <%= @sort_title %></title>
<% end %>
<div class="row">
	<div class="col5">

		<div class="col-element has-header answer has-option">
			<h1>Questions</h1>
			<ul>
				<li>There are currently <strong><%= pluralize(@question_count, "question") %></strong></li>
				<li>Around <strong><%= @percent_answered.humanize %> percent</strong> of questions have been answered</li>
				<li><strong><%= pluralize(@tag_count, "tag") %></strong> are currently in use</li>
				<li>The most recent question was <strong>asked around <%= time_ago_in_words(@last_question_updated_at) %></strong></li>
			</ul>
		</div>

	</div>
	<div class="col7">

		<div class="col-element answer has-header has-option">
			<h3>Search for a Question</h3>
			<form class="">
				<div>
					<input type="text" name="" />
				</div>
			</form>
		</div>

		<div class="col-element has-header grey has-option">
			<h3><%= @sort_title %></h3>
			<a href="#" class="header_option" data-sort-menu="#question-menu"><%= @sort_title.sub! " Questions", "" %> <i class="icon icon-arrow-down"></i></a>
			<ul class="sortmenu" id="question-menu">
				<li><a href="?popular=1">Popular</a></li>
				<li><a href="?new=1">New</a></li>
				<li><a href="?answered=1">Answered</a></li>
			</ul>

			<% if @questions.length > 0 %>
				<ul class="question_list">

					<% @questions.each do |q| %>
						<%= render "questions/overview", :q => q %>
					<% end %>

				</ul>
			<% else %>

				<p>Unfortunately there don't appear to be any <%= @sort_title.downcase %> questions. Bummer.</p>

			<% end %>
		</div>
	</div>
</div>
