<% content_for :head do %>
  <title>inquestion - Ask a Question</title>
<% end %>

<div class="col12">
	<h2>Ask a Question</h2>
	<p>Tell us about your question, we'll try to find similar questions as you type it</p>
</div>

<div class="col7">
	<%= form_for @question do |f| %>
		<% if @question.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

				<ul>
					<% @question.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
					<% end %>
				</ul>
			</div>
		<% end %>
	    <%= render "question_fields", :f => f %>
	    <%= f.submit :class => "ask", :value => "Ask Question" %>
	<% end %>
</div>
<div class="col5">

	<div id="question-help" class="col-element has-header ask">
		<h3>Help</h3>
		<ul class="no-list">
			<li><strong>Provide a relevant title: </strong>Try to sum up what your asking in the title, e.g. "What is the difference between a static method and a normal method?"</li>
			<li><strong>Use relevant tags: </strong>If your question is about an assignment in "Unit 22 Object Oriented Programming" and its about outcome 2.2 then tag your question with "#unit22, #outcome2.2, #oop, #programming"</li>
			<li><strong>Add detail to your question: </strong>Explain exactly what you want to be answered, e.g. "I'm having trouble understanding how a static method is different from a normal method, what is the difference? What are the advantages/disadvantages of both?"</li>
		</ul>
	</div>
	
	<div id="question-similar-loading">Please wait, loading possible questions and answers...</div>
	<div id="question-similar-answers" class="col-element has-header ask">

		<h3>Possible Answers</h3>
		<ul class="answers">
			<li class="answer">
				<p style="text-align: center; width: 100%; display: block;">Loading possible answers</p>
			</li>
			<li class="answer">
				<p style="text-align: center; width: 100%; display: block;">Loading possible answers</p>
			</li>
			<li class="answer">
				<p style="text-align: center; width: 100%; display: block;">Loading possible answers</p>
			</li>
		</ul>
	</div>
	<div id="question-similar-questions" class="col-element has-header answer">
		<h3>Similar Questions</h3>
		<ul class="question_list">
			<li class="question">
				<div class="question-top">
					<p style="text-align: center; width: 100%; margin:0px; display: block;">Loading similar questions</p>
				</div>
			</li>
		</ul>
	</div>
</div>
