<% content_for :head do %>
  <title>inquestion - <%= @question.title %></title>
<% end %>
<% content_for :meta_description do %>
<meta name="description" content="<%= @question.user.forename %> asked '<%= @question.title %>' on inquestion, a knowledgebase created by Web Designer Samuel Giles in Somerset" />
<% end %>
<% content_for :opengraph do %>
<meta property="og:title" content="<%= @question.title %>" />
<meta property="og:type" content="article" />
<meta property="og:description" content="<%= @question.user.forename %> asked '<%= truncate(@question.content, length: 250) %>'" />
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="<%= @question.title %>">
<meta name="twitter:description" content="<%= @question.user.forename %> asked '<%= truncate(@question.content, length: 230) %>'">
<meta name="twitter:image" content="<%= request.protocol + request.host_with_port + image_path("icon-large.png") %>">
<meta name="twitter:creator" content="https://twitter.com/inquestionhq">
<% end %>
<div class="col6">

	<div class="col-element has-header ask has-seperator single-question question">
		<h2 class="no-theme"><%= @question.title %></h2>
		<p class="sub-header">asked by <%= @question.user.id == current_user.try(:id) ? "you" : @question.user.full_name %> at <%= @question.created_at.strftime("%H:%M on #{@question.created_at.day.ordinalize} %B %Y ")  %></p>
		
		<p><%= @question.content %></p>
		
		<ul class="question-tags">
			<% @question.tags.each do |t| %>
				<% if t.title != nil %>
				<li><%= link_to "#" + t.title, t %></li>
				<% end %>
			<% end %>
		</ul>

		<p class="question-votes-detail">
			<a href="#" class="btn ask">[+<%= @question.votes.count %>] Click here to vote for this question <%= @question.answered ? " to be answered" : "" %></a>
		</p>

	</div>

	<% if current_user.try(:is_admin) %>
	<div class="col-element has-header ask">
		<h3>Admin</h3>
		<%= link_to "Remove question", question_path(@question), method: :delete, class: "button" %>
	</div>
	<% end %>

</div>
<div class="col6">
	
	<div class="col-element answer has-header">
		<h2>Answer this Question</h2>
		<%= form_for [@question, @newAnswer] do |f| %>

			<%= render "answers/answer_fields", :f => f %>
			<%= f.submit :class => "answer", :value => "Submit Answer" %>

		<% end %>
	</div>

	<div class="col-element answer has-seperator">
		<h2>Answers</h2>
		
		<% if @question.answers.count == 0 %>
		<p>Nobody has answered this question</p>
		<% else %>
			
			<% if @question.user.id == current_user.try(:id) %>
				<p class="accept-prompt">To accept an answer just click it</p>
			<% end %>
			<ul class="answers">
			<% @question.answers.each do |a| %>
				<% if a.content != nil %>
					<%= render "answers/answer", :a => a %>
				<% end %>
			<% end %>
			</ul>

		<% end %>
	</div>

</div>


