<% content_for :head do %>
  <title>inquestion - Sign Up</title>
<% end %>

<div class="row">

	<div class="push col3"></div>
	<div class="col-element well col6">

		<h2>Sign up</h2>

		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
			<%= devise_error_messages! %>
			
			<div><%= f.label :forename %>
		  	<%= f.text_field :forename, :autofocus => true %></div>

		  	<div><%= f.label :surname %>
		  	<%= f.text_field :surname %></div>

		  	<div><%= f.label :email %>
			<%= f.email_field :email %></div>

		  	<div><%= f.label :employerName, "Employer Name" %>
		  	<%= f.text_field :employerName %></div>

		  	<div><%= f.label :employerAddress, "Employer Address" %>
		  	<%= f.text_area :employerAddress %></div>

			<div><%= f.label :password %>
			<%= f.password_field :password %></div>

			<div><%= f.label :password_confirmation %>
			<%= f.password_field :password_confirmation %></div>

			<div><%= f.label :assessor %>
			<%= f.collection_select(:assessor, User.admins, :id, :forename, {include_blank: 'Please select your assessor'}) %></div>


			<div><%= f.submit "Sign up" %></div>
		<% end %>
		
		<%= render "devise/shared/links" %>

	</div>

</div>


