<%= render layout: '/layouts/admin' do %>
	<div class="col-element has-header question ask">
		<h2 class="">Admin - Employers</h2>
		
		<div id="employer-map" data-address="<%= @employer.address %>" class="col-element"></div>
		
		<div class="col-element ask">
			<h3><%= best_in_place @employer, :name, :path => admin_employer_path %></h3>
			<h4 class="no-theme"><%= pluralize(@apprentices.count, 'apprentice') %></h4>
			<h4 class="no-theme"><small><strong>Address:</strong> <%= best_in_place @employer, :address, type: :textarea, :path => admin_employer_path, :data => {:address => @employer.address}, :classes => 'employer-address' %></small></h4>
			<p class="employer-notes"><strong>Notes:</strong> <%= best_in_place @employer, :notes, type: :textarea, :path => admin_employer_path %></p>
		</div>
		<% if @apprentices.count > 0 %>
		<table>
			<thead>
				<tr>
					<th>Name</th><th>Email</th><th>End Date</th><th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<% @apprentices.each do |apprentice| %>
				<tr>
					<td><%= apprentice.full_name %></td>
					<td><%= apprentice.email %></td>
					<td><%= apprentice.friendly_start_date %></td>
					<td><%= link_to "View", user_path(apprentice), class: "btn btn-block btn-small" %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<% else %>
		<p><i>This employer has no assigned apprentices, you can assign users to an employer by going to the Users page</i></p>
		<% end %>
		
		<%= link_to "Delete Employer", admin_employer_path(@employer), class: "btn btn-small btn-block", :data => { :confirm => "Are you sure?" }, :method => :delete %>

	</div>
<% end %>