<%= render layout: '/layouts/admin' do %>
	<div class="col-element ask has-header">
		<h2>Admin - Home</h2>
		<ul class="info">
			<li><span><%= online_users %></span> online <%= "user".pluralize(online_users) %></li>
			<li><span><%=@answeredQuestionCount%></span> answered <%= "question".pluralize(@answeredQuestionCount) %></li>
			<li><span><%=@unansweredQuestionCount%></span> unanswered <%= "question".pluralize(@unansweredQuestionCount) %></li>
		</ul>
		<hr>
	</div>
	<div class="col-element answer">
		<h3>Questions over time</h3>
		<%= line_chart [{:name => "Questions", :data => @questions_over_time},{:name => "Answers", :data => @answers_over_time}] %>
	</div>
	<div class="col-element ask">
		<h3>User sign ups per day</h3>
		<%= line_chart User.group_by_day(:created_at).count %>

	</div>
	<div class="col-element ask">
		<h3>Questions asked per day</h3>
		<%= line_chart Question.group_by_day(:created_at).count %>
	</div>
	<div class="col-element ask">
		<h3>Answers submitted per day</h3>
		<%= line_chart Answer.group_by_day(:created_at).count %>
	</div>
<% end %>