<% content_for :head do %>
  <title>inquestion - Admin</title>
<% end %>
<div class="col8">

	<%= yield %>

</div>
<div class="col4">
	<div class="col-element answer has-header">
		<h2>Actions</h2>
		<%= link_to "Home", :admin_index, class: "button" %>
		<%= link_to "Users", :admin_users, class: "button" %>
		<%= link_to "Employers", :admin_employers, class: "button" %>
		<%= link_to "Create question + answer", :new_admin_question, class: "button" %>
	</div>
</div>
