<!DOCTYPE html>
<html>
	<head>
		<% if content_for?(:head) %>
			<%= content_for(:head) %>
		<% else %>
		<title>inquestion</title>
		<% end %>
		<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= favicon_link_tag 'favicon.ico' %>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		
		<meta property="og:site_name" content="inquestion" />
		<meta property="og:image" content="<%= request.protocol + request.host_with_port + image_path("icon-large.png") %>" />
		<meta property="og:url" content="<%= request.original_url %>" />

		<% if content_for?(:opengraph) %>
		<%= content_for(:opengraph) %>
		<% end %>

		<%= csrf_meta_tags %>
	</head>
	<body>

	<header>

		<div id="log_in_bar">
			
			<% if current_user %>
			<div class="bar-left">
				<a href="#">Logged in as <%=current_user.email%></a>
			</div>
			<div class="bar-right">
				<% if current_user.admin %>
					<%=link_to "Admin", :admin_index, class: "button" %>&nbsp;
				<% end %>
				<a href="#" class="button ask">My Questions [5]</a>&nbsp;<a href="#" class="button answer">My Answers [20]</a>&nbsp;<a href="#" id="notifications" class="button">Notifications [<%= current_user.notifications.unseen.count %>]</a>&nbsp;<%= link_to 'Profile', user_path(current_user), :class => "button secondary" %>&nbsp;<%= link_to 'Logout', destroy_user_session_path, :class => "button secondary" %>
			</div>
			<% else %>
				<div class="bar-left">
					
				</div>
				<div class="bar-right">
				<%= link_to 'Login to inquestion to ask and answer questions', new_user_session_path, :class => "" %>&nbsp;<%= link_to 'Login', new_user_session_path, :class => "button secondary" %>
				</div>
			<% end %>
		</div>

		<%= link_to image_tag("logo.png", :alt => 'inquestion', :id => "logo", :title => 'Back to Homepage'), :root %>
		
		<ul id="ask_or_answer">
			<li class="answer"><%= link_to "Answer Questions", :questions  %></li>
			<li class="ask"><%= link_to "Ask Questions", :new_question  %></li>
		</ul>
		

	</header>

	<% if current_user %>
	<%= render "notifications/popover", :notifications => current_user.notifications.unseen %>
	<% end %>
	
	<% @hasHeader = content_for?(:cover) ? "" : "has-no-cover" %>
	<% if content_for?(:cover) %>
	<div id="cover">
		<%= image_tag("cover.jpg", :alt => 'inquestion - ask and answer questions', :id => "cover_image") %>
		<h1><%= content_for(:cover) %></h1>
	</div>
	<% end %>

	<div id="main" class="<%=@hasHeader %>">
		
		<% flash.each do |key,msg| %>
		<div class="notice"><%= msg %></div>
		<% end %> 

		<%= yield %>
	</div>
	
	<footer>
		<ul>
			<li class="top"><a href="http://samuelgil.es"><%= image_tag("logo.png", :alt => 'inquestion', :id => "footer-logo", :title => 'inquestion') %> - developed by Samuel Giles</a></li>
			<li><%= link_to "About", :about_page %></li>
			<li><%= link_to "Terms and Conditions", :terms_page %></li>
			<li><%= link_to "Privacy Policy", :privacy_page %></li>
			<li><a href="https://github.com/samuelgiles/inquestion">Follow development on Github</a></li>
		</ul>
	</footer>

	</body>
</html>
